<div ng-controller="MainController">
	
	<div ng-repeat="image in images">
		<div class="media feed-item">
			
			<div class="media__img feed-item__thumbnail" style="background-image: url('{{ image.media.m }}')"></div>
			
    
		    <div class="media__body">
		    	<a href="#/images/{{ images.indexOf(image) }}"><h2>{{ image.title || "No Title Provided..." }}</h2></a>
			    <p>Published: {{ image.published | date:"d MMM yyyy 'at:' HH:mm" }}</p>
			    <a class="btn" href="{{ image.author_id }}" target="_blank">Photo Author</a>
			    <a class="btn" href="{{ image.link }}" target="_blank">View on Flickr</a>
		    </div>
<!--     End .media__body -->
		   
		  
	  </div>
<!-- 	  End .media -->
	  
  </div>
<!--   End "image in images"-->
  
</div> 
<!-- End MainController -->