/*------------------------------------*\
    MEDIA OBJECT
\*------------------------------------*/
/* As per http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/*/

.media {clear:both;}
.media__body {overflow:hidden;}
.media__img {float:left; margin-right: $base-spacing-unit;}
.media__img img{display:block;}
.media__img--rev {float:right; margin-left: $base-spacing-unit;}

