// BASE MODIFIERS
// Takes the standard HTML elements and ammends them subtly. These can be considered as low specificity utility classes.

.btn {
	padding: $base-spacing-unit/2 $base-spacing-unit*1.4/2;
	color: $dark-blue;
	display: inline-block;
	font-weight: 100;
	font-size: 0.6rem;
	border-radius: $base-spacing-unit/2;
	border: 1px solid $dark-blue;
	text-transform: uppercase;

	@include media($tablet){
		padding: $base-spacing-unit $base-spacing-unit*1.4;
	}
}

.btn:hover{
	background-color: $salmon;
	color: white;
	font-weight: 400;
}

.btn--tag {
	margin: $base-spacing-unit/4 $base-spacing-unit/4*1.4;
	padding: $base-spacing-unit/2 $base-spacing-unit/2*1.4;
	border-radius: 10px;
	font-size: 0.6rem;
	font-weight: 100;
}

.btn--back {
	background-color: $dark-blue;
	color: white;
	font-size: 0.6rem;
	position: absolute;
	top: $base-spacing-unit;
	right: $base-spacing-unit;

	@include media($tablet){
		top: $base-spacing-unit*2;
		right: $base-spacing-unit*2;
	}
}