/*------------------------------------*\
    CONTAINERS
\*------------------------------------*/

.page-container {
	width: 90%;
	max-width: 800px;
	background-color: $off-white;
	color: $grey;
	margin: 0 auto;
	display: block;
	position: relative;
}