// BASE STYLING OF HTML ELEMENTS
// Styling for HTML elements without any classes.

html,
body {
	font-family: $body-font;
	background-color: $dark-blue;
	color: $off-white;
}


h1,h2 {
	font-size: 2rem;
	color: $dark-blue;
	margin-bottom: $base-spacing-unit/2;
	line-height: 1.25em;
}

h2:hover {
	color: $salmon;
}

p {
	margin-bottom: $base-spacing-unit/2;
	font-weight: 300;
}
